{% extends 'base.html' %}
{% block title %} 
    {{ article.title_tag }}
{% endblock %}
{% block content %}

<h1>{{ article.title }}</h1>
<small>By: {{ article.author.first_name }} {{ article.author.last_name }} - 
    {{ article.article_date }}
    {% if user.is_authenticated %}
    {% if user.id == article.author.id %}
    - <a href="{% url 'update-article' article.pk %}">(Edit)</a>

    <a href="{% url 'delete-article' article.pk %}">(Delete)</a></small> <br/>
    {% endif %}
    {% endif %}
<hr>
<br/>
{{ article.body|safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}